html{
    font-family: 'Lato',sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

/*nav style*/
.nav{
    text-align: right;
}
.button-bar{
    border: none;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 26px;
    text-align: center;
    display: inline-block;
}
.button-bar:hover{
    background-color: #ddd;
}

/*header style*/
.header{
    padding: 34px 0;
    text-align: center;
}

.header h1{
    letter-spacing: 5px;
}

.button{
    border: none;
    padding: 8px 16px;
    background-color: black;
    color:  #fff;
    font-size: 15px;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    outline: none;
}

/*photo grid style*/
/*避免footer在main中浮动,伪元素选择器:后面内容为空,上下左右清空*/
.container::after{
    content: "";
    clear: both;
    display: table;
}
.column{
    float: left;
    width: 33.3333%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: -5px;
}

/*---footer style---*/
.footer{
    background-color: #f1f1f1;
    padding: 64px 0;
    text-align: center;
    opacity: 0.7;
    margin-top:64px ;
}
.iconbar{
    font-size: 18px;
}

.iconbar i{
    padding: 2px;
    cursor: pointer;
}

.iconbar i:hover{
   opacity: 0.7;
}
.footer a{
    color: #000;
}

/*--responsive style--*/
@media only screen and (max-width: 600px) {
    .column{
        width: 100%;
    }
}