
/*--html--*/
html{
    font-size: 15px;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

/*--nav style--*/
.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    width: 12%;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 12px 16px;
}

.nav li a:hover{
    color: #fff;
    background-color: #999999;
}

.nav li a.active{
    background-color: #a62d2d;
    color: #fff;
}

/*---h-nav---*/
.h-nav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    width: 100%;
    overflow: hidden;
}
.h-nav li{
    float: left;
    border-right: 1px solid #999;
}
.h-nav li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 16px;
    text-align: center;
}

.h-nav li a:hover{
    background-color: black;
}
.h-nav li a.active {
    background-color: #a62d2d;
}

.h-nav li.right{
    float: right;
}

/*---s-nav---*/
.s-nav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    width: 100%;
    overflow: hidden;
}
.s-nav li{
    float: left;
    border-right: 1px solid #999;
}
.s-nav li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 16px;
    text-align: center;
}

.s-nav li a:hover{
    background-color: black;
}
.s-nav li a.active {
    background-color: #a62d2d;
}

.s-nav li.right{
    float: right;
}

.dropdown{
    float: left;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #666;
    min-width: 160px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}